i386*
*.i386*
x86_64*
*.x86_64*
arm64_*
*~
*.deps
.idea/
cmake-build-debug/
lib_*
result_*
.actsim_history
include
log*
*log
/*.act
acts/
output
dflowmap.*
config_pkg.h
config.mk
metrics/
*_statistics
*_merge
*_split
*_mem
*_energy
*_fu
*-bu
oldConf/
*.sh
record/

bin/
lib/
