i386*
*.i386*
x86_64*
*.x86_64*
arm64_*
*~
*.deps
.idea/
cmake-build-debug/
lib_*
result_*
.actsim_history
include
log*
*log
acts/
output
dflowmap.*
config_pkg.h
config_pkg.h.old
config.mk
metrics/
*_statistics
*_merge
*_split
*_mem
*_energy
*_fu
*-bu
oldConf/
*.sh
record/
.dflow_cache/
bin/
lib/
*.DS_Store
build/
*.conf
*.stat
config.in
*_out/
cmake-build-grace/
.clion.source.upload.marker
.rs_rl538.tstamp
config.in
configure
hier_tmp2.lec.do
*.v
